
<div *ngIf="semester == '2'">
	<h1>
		<strong>C</strong> ontrat d’<strong>A</strong>pprentissage <strong>I</strong>ndividuel
	</h1>
	<p align="right">
		<strong>2<sup>ème</sup> semestre
		</strong>
	</p>
	<p>
		<strong>De novice à débutant</strong>
	</p>
	<p>Une condition de validation du deuxième semestre est d’avoir un
		niveau débutant dans toutes les compétences. Je vais donc mettre la
		focale sur les 3 compétences ci-dessous, dans le but de pouvoir de
		m’évaluer comme débutant à la fin du premier semestre.</p>
	<p align="right">
		<strong>Novice</strong>
	</p>
	<p align="center">
		<em> Je n’ai pas de connaissances structurées dans ce domaine.
			Une supervision directe et dans un cadre structuré m’est encore
			nécessaire pour intervenir dans ce domaine. Je n’ai pas ou peu
			d’expériences pratiques dans la mobilisation de cette compétence. </em>
	</p>
	<p align="right">
		<strong>Débutant</strong>
	</p>
	<p align="center">
		<em> J’ai acquis de premières connaissances structurées dans ce
			domaine. J’ai développé les aptitudes
			(habilité/compétence/savoir-faire/disposition) de bases pour y
			effectuer des tâches simples avec un certain niveau d’autonomie. J’ai
			fait au moins une expérience de mobilisation de cette compétence dans
			un projet. </em>
	</p>
	<p>
		<strong><u>Compétence </u></strong> <strong><u>5</u></strong>
	</p>
	<p align="center">
		<em> Développer une pensée critique, questionner le sens de
			l’action sociale et proposer des modes d’intervention et de
			transformation sociales pertinents, créatifs et diversifiés, qui
			intègrent les enjeux sociaux, économiques, culturels et politiques
			aux niveaux : local, national et international. </em>
	</p>
	<p>Le module F8 (politiques/assurances sociales, déviance) ainsi
		que les recherches développées dans le cadre du projet de la Team
		Academy, vont m’acquérir des connaissances plus structurées pour
		émettre des critiques sur le sens d’une action sociale et imaginer des
		plans d’interventions. L’interview de Nathalie Stalder et de Roland
		Bourdin pour notre projet STA va déjà dans ce sens. L’avance dans ce
		dernier pourra surement justifier un niveau débutant.</p>
	<p>
		<strong><u>Compétence </u></strong> <strong><u>13</u></strong> <strong><u></u></strong>
	</p>
	<p align="center">
		<em> Créativité et innovation : Générer des idées originales
			permettant de résoudre des problèmes. Concevoir et gérer le processus
			qui va de l’idée à l’innovation </em>
	</p>
	<p>Le travail demandé pour le module F10 m’a confronté aux
		problèmes qui découler de concevoir, gérer un processus de créativité.
		J’essayerai de trouver quelques écrits théoriques sur ce sujet.</p>
	<p>Ce même module m’a questionné sur ce qu’était vraiment une
		innovation et la créativité. Là encore l’expérience vécue durant ce
		travail m’amène des pistes de recherches théoriques. (La pratique
		sportive comme support occupationnel n’est pas très originale dans le
		monde du social. En revanche, l’attitude et la posture que prend
		l’intervenant sont décisives en matière de changement et d’imagination
		dans l’accompagnement.)</p>
	<p>
		<strong><u>Compétence </u></strong> <strong><u>14</u></strong> <strong><u></u></strong>
	</p>
	<p align="center">
		<em> Agir entrepreneurial : démontrer une attitude
			(posture/apparence/conduite) volontaire dans laquelle les croyances
			et les barrières limitant la réflexion et l’action sont dépassées
			dans la mise en œuvre de projets à forts impacts positifs et
			durables. </em>
	</p>
	<p>
		J’aimerai développer des connaissances pour faire valoir l’escalade
		comme outils favorisant l’estime de soi, la collaboration et la
		métacognition. Le but est de collecter suffisamment de preuve pour
		convaincre les institutions de l’utilité de ce sport dans
		l’accompagnement de jeunes. Pourquoi ne pas tenter de créer un groupe
		interinstitutionnel de grimpe durant mon 3<sup>e</sup> semestre en
		stage. Il me faudra chercher, entre autres, quelques lectures sur «
		l’entrepreneuriat ». Ne pas lâcher cette idée m’aidera à démontrer
		cette compétence.
	</p>
	<p>
		<strong>De débutant à apprenant</strong>
	</p>
	<p align="right">
		<strong>Débutant</strong>
	</p>
	<p align="center">
		<em> J’ai acquis de premières connaissances structurées dans ce
			domaine. J’ai développé les aptitudes de bases pour y effectuer des
			tâches simples avec un certain niveau d’autonomie. J’ai fait au moins
			une expérience de mobilisation de cette compétence dans un projet. </em>
	</p>
	<p align="right">
		<strong>Apprenant</strong>
	</p>
	<p align="center">
		<em> J’ai acquis les connaissances théoriques de base dans ce
			domaine. J’ai démontré, en mobilisant cette compétence dans plusieurs
			projets, disposer des aptitudes cognitives et pratiques qui sont
			nécessaires pour effectuer les tâches habituelles et résoudre des
			problèmes courants liés à ce domaine. </em>
	</p>
	<p>
		<strong><u>Compétence</u></strong> <strong><u> 1</u></strong> <strong><u>
		</u></strong>
	</p>
	<p align="center">
		<em>E</em> <em>x</em> <em>plicite</em> <em>r</em> <em>, </em> <em>é</em>
		<em>t</em> <em>a</em> <em>y</em> <em>e</em> <em> r et argumenter
			les valeurs, les principes éthiques et le cadre déontologique du
			travail social qui fondent leur action. </em>
	</p>
	<p>Le cours sur : les politiques sociales ; la déviance ; la
		posture professionnelle ; la protection des données et la
		confidentialité ; m’apportent les connaissances nécessaires, pour
		développer cette compétence et tenter de la démontrer à travers les 2
		ou 3 projets de ce semestre.</p>
	<p>
		<strong><u>Compétence </u></strong> <strong><u>4</u></strong> <strong><u></u></strong>
	</p>
	<p align="center">
		<em> Établir des diagnostics de situation, construire, mener et
			évaluer des projets d’intervention et des actions en se basant sur
			des connaissances scientifiques, méthodologiques et des savoirs
			d’action. </em>
	</p>
	<p>Les cours et les pistes donnés dans les entretiens réalisés dans
		le cadre de mes projets m’apporteront un autre regard pour établir des
		diagnostics. La poursuite des cours et des projets va m’aider à
		construire, mener et évaluer les possibilités d’intervention et
		d’actions.</p>
	<p>
		<strong><u>Compétence </u></strong> <strong><u>7</u></strong>
	</p>
	<p align="center">
		<em> Organiser, coordonner le travail en équipe et en réseau, et
			collaborer dans des logiques </em> <em>d’interprofessionnalité et
			d’interdisciplinarité.</em>
	</p>
	<p>Je vais tenter de prendre cette place dans les projets auxquels
		je participe. Il me faudra :</p>
	<p>-Le proposer aux autres membres.</p>
	<p>-Trouver une TIC simple, efficace qui correspond à tout le
		monde.</p>
	<p>-Recommander un support visuel, simple permettant de noter les
		différents jalons et deadlines allant structurer notre travail.</p>
	<p>Le cours sur le travail en réseau ainsi que mes lectures sur les
		dynamiques de groupe et la gouvernance horizontale m’aidera à bien
		communiquer et adopter l’attitude permettant une collaboration
		harmonieuse</p>
	<p>
		<strong><u>Compétence 9</u></strong>
	</p>
	<p align="center">
		<em> Apprendre à apprendre : concevoir son projet
			d’apprentissages et le piloter. Faire des choix favorisant ses
			apprentissages et le développement de ses compétences vers un niveau
			professionnel. </em>
	</p>
	<p>Le contrat d’apprentissage et notamment ma réponse à la
		compétence 7 vont dans ce sens. J’essayerai d’être stratégique pour
		sélectionner et développer le plus de compétences en fonction des
		projets en cours, et les liens que je peux faire entre eux. Je devrai
		aussi certainement plus renoncer à mon temps libre pour le consacrer à
		ma formation et aux apprentissages qui sont demandés. Par exemple,
		j’envisage d’axer l’AR sur une des compétences que je dois améliorer.
	</p>
	<p>
		<strong><u>Compétence </u></strong> <strong><u>12</u></strong> <strong><u></u></strong>
	</p>
	<p align="center">
		<em> Leadership d’équipe : construire une équipe qui fonctionne
			sur une longue période et à conduire cette équipe </em>
	</p>
	<p>Je vais chercher des lectures sur le leadership d’équipe et
		essayer de le mettre en pratique dans un ou les différents groupes
		auxquelles je participe. Afin de démontrer si ce niveau de taxonomie
		est atteint, je pourrai envisager de réaliser un petit questionnaire à
		faire remplir aux membres de mon équipe.</p>
	<p>
		<strong>D’apprenant à pratiquant</strong>
	</p>
	<p align="right">
		<strong>Apprenant</strong>
	</p>
	<p align="center">
		<em> J’ai acquis les connaissances théoriques de base dans ce
			domaine. J’ai démontré, en mobilisant cette compétence dans plusieurs
			projets, disposer des aptitudes cognitives et pratiques qui sont
			nécessaires pour effectuer les tâches habituelles et résoudre des
			problèmes courants liés à ce domaine. </em>
	</p>
	<p align="right">
		<strong>Pratiquant</strong>
	</p>
	<p align="center">
		<em> J’ai démontré ma capacité à utiliser les bases théoriques
			acquises dans ce domaine pour analyser une situation et concevoir les
			pistes d’actions correspondantes. J’ai démontré, en mobilisant cette
			compétence dans mes divers projets, disposer de la gamme d’aptitudes
			cognitives, pratiques et relationnelles qui permettent de résoudre
			des situations complexes liées à ce domaine en sachant sélectionner
			les méthodes et outils adéquats. </em>
	</p>
	<p>
		<strong>Compétence </strong> <strong>2</strong> <strong></strong>
	</p>
	<p align="center">
		<em> Évaluer leurs propres ressources et leurs limites dans les
			dimensions cognitives, émotionnelles, corporelles et sociales, et
			identifier leurs besoins en matière de professionnalisation. </em>
	</p>
	<p>Je pourrai tenter de créer ou de trouver une grille d’évaluation
		mettant en lumière mes ressources et mes limites dans ces quatre
		domaines. Je l'aimerai standard et facilement transférable d'un
		domaine et d'une activité à l'autre. Cela visibiliserait mes besoins
		en matière de professionnalisation. (Demander aux professeurs.es de
		l’école, E.Pitarelli ?)</p>
	<p>
		<strong>Compétence </strong> <strong>3</strong> <strong></strong>
	</p>
	<p align="center">
		<em> Construire et développer une relation professionnelle dans
			une posture favorisant le pouvoir d’agir et l’autodétermination des
			individus, groupes et communautés. </em>
	</p>
	<p>Je compte rédiger mon article réflexif sur la façon dont un
		groupe peut s’organiser le plus naturellement possible. Quelles
		attitudes faut-il mettre en place pour que chacun se sente
		impliqué/motivé et participe/travaille de manière égale.</p>
	<p>Les lectures faites dans ce cadre m’apporteront certainement de
		la théorie.</p>
	<p>
		<strong><u>Compétence </u></strong> <strong><u>6</u></strong> <strong><u></u></strong>
	</p>
	<p align="center">
		<em> Communiquer de manière claire et adéquate, oralement, par
			écrit et/ou selon des modalités appropriées, auprès de publics
			diversifiés et dans des contextes variés. </em>
	</p>
	<p>J’essayerai de mettre en pratique les apports théoriques reçus
		sur la communication à travers les mails et entretiens que j’aurais
		avec les professeurs-es et les professionnels avec qui j’aurais des
		contacts. J’aimerais tenter d’avoir le plus souvent possible un
		échange « métacommunicatif » avec ces derniers. Avoir un retour
		objectif sur la clarté et l’adéquation de ma communication est
		primordiale à mes yeux. Selon mon temps à disposition, je pourrai
		chercher des lectures sur cette discipline (la métacommunication) pour
		faciliter et fluidifier sa mise en application.</p>
	<p>Il en va de soi que j’expérimenterai la communication formelle,
		informelle, écrite, verbale, paraverbale dans le plus de situations
		possibles.</p>
	<p>
		<strong>Compétence </strong> <strong>8</strong> <strong></strong>
	</p>
	<p align="center">
		<em> Comprendre les divers déterminants de l’organisation, se
			situer et assurer les tâches de gestion, d’administration et de
			coordination. </em>
	</p>
	<p>Prendre part au projet d’animation des quartiers ouest ;
		continuer le projet STA ; l’organisation de la signature de mon DCPT
		ainsi que la planification des dates pour les entrevues PF-coach :
		m’amènera une meilleure compréhension des divers déterminants de
		l’organisation de l’État, d’une institution, des groupes formels et
		des relations interpersonnelles.</p>
	<p>Les retours décrits à la compétence précédente m’aideront à me
		situer (comprendre et accepter ma place) et mieux coordonner les
		informations et les personnes.</p>
	<p>Afin d’avoir un feedback, je tâcherai de trouver le moment
		opportun et la bonne posture pour tenter de métacommuniquer sur ma
		façon de procéder.</p>
	<p>
		<strong>Compétence </strong> <strong>11</strong> <strong></strong>
	</p>
	<p>
		<em> Auto-initiative : démontrer une volonté affirmée de lancer
			des projets en s’appuyant sur ses compétences et un état d’esprit
			entrepreneurial ( </em> <strong>Voit des</strong> <strong>opportunités
			dans les situations de changements</strong> , voir cherche le changement
		plutôt que d’attendre de s’y adapter. Cette façon de penser permet
		notamment de prendre des risques mesurés, de penser de façon créative,
		d’être <a
			href="http://management.efe.fr/2014/01/21/6-ingredients-innovation/">
			innovant </a> et dans l’apprentissage continu.)
	</p>
	<p>Essayer d’être plus actif, voir proactif, dans mes travaux à
		réaliser (textes, lectures, tâches administratives). Je compte à
		travers cela faire évoluer mon fonctionnement personnel. Le but :
		développer mon auto-initiative.</p>
	<p>Je vais tâcher de chercher des articles, de l’information, sur
		les compétences et l’esprit entrepreneurial. Les expérimenter à
		travers les projets lancés.</p>
	<p align="right">
		<strong>Pratiquant</strong>
	</p>
	<p align="center">
		<em> J’ai démontré ma capacité à utiliser les bases théoriques
			acquises dans ce domaine pour analyser une situation et concevoir les
			pistes d’actions correspondantes. J’ai démontré, en mobilisant cette
			compétence dans mes divers projets, disposer de la gamme d’aptitudes
			cognitives, pratiques et relationnelles qui permettent de résoudre
			des situations complexes liées à ce domaine en sachant sélectionner
			les méthodes et outils adéquats. </em>
	</p>
	<p align="right">
		<strong>Pratiquant Réflexif</strong>
	</p>
	<p align="center">
		<em> J’ai démontré ma capacité à combiner diverses bases
			théoriques pour analyser des situations complexes dans leurs
			différentes dimensions et créer de nouvelles réponses qui leur soient
			adaptées. J’ai démontré, en mobilisant cette compétence dans tous mes
			projets, ma capacité à faire évoluer, dans ce domaine, mes aptitudes
			cognitives, pratiques et relationnelles afin d’être capable de
			résoudre des situations complexes et de réviser et développer mes
			performances ainsi que celles des autres </em> .
	</p>
	<p>
		<strong>Compétence </strong> <strong>10</strong>
	</p>
	<p>
		<em> Apprentissage en équipe : Se former ensemble avec d’autres
			membres de l’équipe et créer </em> <em> de nouvelles connaissances
			par la mutualisation des savoirs et la stimulation réciproque. </em>
	</p>
	<p>Je ne compte pas énormément faire évoluer cette compétence
		durant ce deuxième semestre. Néanmoins je tâcherai d’être sensible aux
		fonctionnements que j’ai mis en place, seul ou groupe, dans mes
		apprentissages. Cela me donnera de la matière à explorer en vue des
		prochains semestres.</p>
</div>
<div *ngIf="semester == '3'">
	<h1>
		<strong>C</strong> ontrat d’<strong>A</strong>pprentissage <strong>I</strong>ndividuel
	</h1>
	<h2>
		Compétence 2 : Apprenant <strong>3e semestre</strong>
	</h2>
	<p>Évaluer leurs propres ressources et leurs limites dans les
		dimensions cognitives, émotionnelles, corporelles et sociales, et
		identifier leurs besoins en matière de professionnalisation.</p>
	<p>
		J’aimerais employer le questionnaire de <em>l’inventaire de
			l’alliance thérapeutique</em> (IAT traduction française de working
		alliance inventory WAI) avec un jeune durant ma FP1. L’objectif serait
		d’une part, me familiariser avec des questionnaires et le traitement
		des réponses. D’autre part, il me permettra d’avoir un regard critique
		de la part de personne que j’accompagne, sur mes attitudes et ma façon
		de travailler. Cette démarche pourra aussi me permettre d’évoluer dans
		les Compétences 3, 4, 5, 9, 11, 13, 14.
	</p>
	<h2>Compétence 4 : Débutant</h2>
	<p>Établir des diagnostics de situation, construire, mener et
		évaluer des projets d’intervention et des actions en se basant sur des
		connaissances scientifiques, méthodologiques et des savoirs d’action.</p>
	<p>Durant mon stage je vais observer et sélectionner des situations
		professionnalisantes. Dans le cadre des travaux demandés pour la FP1,
		je pourrai établir des diagnostics de situation plus poussés. Ces
		diagnostics me questionneront et ils me demanderont d’aller rechercher
		des informations théoriques ou pratiques pour réfléchir à une
		intervention et pour l’évaluer.</p>
	<h2>Compétence 6 : Apprenant</h2>
	<p>Communiquer de manière claire et adéquate, oralement, par écrit
		et/ou selon des modalités appropriées, auprès de publics diversifiés
		et dans des contextes variés.</p>
	<p>
		Je vais prendre plusieurs PV durant ma FP1. Noter des transmissions
		dans le carnet de bord du groupe. Pour développer plus clairement mes
		idées, je veux avancer dans mon livre sur <em>le pouvoir de la
			rhétorique</em> (C. Viktorovitch, 2021). Il me faudrait aussi planifier au
		minimum une heure dans la semaine pour prendre le temps de le lire et
		résumer les informations que j’estime important d’assimiler.
	</p>
	<h2>Compétence 8 : Apprenant</h2>
	<p>Comprendre les divers déterminants de l’organisation, se situer
		et assurer les tâches de gestion, d’administration et de coordination.
	</p>
	<p>Le travail du BIC ainsi que les deux premiers points du rapport
		de stage me permettront de poser une analyse sur l’organisation dans
		laquelle je prendrai part. Ces travaux me renseigneront quant aux
		tâches de gestion, de coordination et d’administrations que je pourrai
		effectuer et donc progresser dans le but de cette compréhension.
		Participer à des colloques et d’éventuelles rencontres
		interprofessionnelles m’orienteront quant à mon cahier des charges.</p>
	<h2></h2>
	<h2>Compétence 9 : Débutant</h2>
	<p>Apprendre à apprendre : Concevoir son projet d’apprentissages et
		le piloter. Faire des choix favorisant ses apprentissages et le
		développement de ses compétences vers un niveau professionnel</p>
	<p>Planifier au minimum une heure par semaine pour noter les
		apprentissages que j’ai faits durant la semaine. Je profiterai
		également d’écrire les interrogations que j’ai, pour dans un deuxième
		temps, aller chercher les réponses dans la littérature ou chez mes
		collègues.</p>
	<h2>Compétence 10 : Débutant</h2>
	<p>Apprentissage en équipe : Se former ensemble avec d'autres
		membres de l'équipe et créer de nouvelles connaissances par la
		mutualisation des savoirs et la stimulation réciproque</p>
	<p>Je vais lire l’AR de Lucien sur l’enseignement populaire et
		surement en retirer des pistes d’apprentissages pour avancer dans
		cette compétence.</p>
	<h2>Compétence 13 : Débutant</h2>
	<p>Créativité et innovation : Générer des idées originales
		permettant de résoudre des problèmes. Concevoir et gérer le processus
		qui va de l’idée à l’innovation</p>
	<p>Je veux noter des situations qui me confronte et les partager à
		l’équipe pour réussir à dégager des idées (originale) et comment les
		mettre en place</p>
	<h2>Compétence 14 : Débutant</h2>
	<p>
		Agir entrepreneurial : démontrer une attitude volontaire dans laquelle
		les croyances et les barrières limitant la réflexion et l'action sont
		dépassées dans la mise en œuvre de projets à forts impacts positifs et
		durables. <strong></strong>
	</p>
	<p>J’aimerai faire des recherches sur Zotero pour convaincre mes
		collègues de pendre du temps dans une SD pour approfondir ce logiciel.
	</p>
</div>
