<div
	class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Le référentiel de compétences pour la formation HES
		en travail social</h1>
</div>

<div class="float-none">
	<div class="form-inline d-flex align-items-center">
		<div class="btn-group" btnRadioGroup [(ngModel)]="radioModel">
			<label class="btn btn-success mb-0" btnRadio="1"
				(click)="changeRadio()">1<sup>er</sup> semestre
			</label> <label class="btn btn-success mb-0" btnRadio="2"
				(click)="changeRadio()">2<sup>e</sup> semestre
			</label>
		</div>
	</div>
</div>

<div id="skilltypechartdiv" style="width: 100%; height: 800px"></div>

<div
	class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Les compétences spécifiques développées par la
		pédagogie Team Academy</h1>
</div>
<div id="skillacademytypechartdiv" style="width: 100%; height: 800px"></div>