<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Le référentiel de compétences pour la formation HES en travail social</h1>
</div>

<div id="skilltypechartdiv" style="width: 100%; height: 800px"></div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Les compétences spécifiques développées par la pédagogie Team Academy</h1>
</div>
<div id="skillacademytypechartdiv" style="width: 100%; height: 800px"></div>