<header
	class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Portfolio</a>

	<!-- <button class="float-end navbar-toggler position-absolute d-md-none collapsed" type="button"
      data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

</header>

<div class="container-fluid">
	<div class="row">
		<nav id="sidebarMenu"
			class="col-md-5 col-lg-4 d-md-block bg-light sidebar collapse sticky-top">
			<div class="col-md-12 sticky-top" style="padding-top: 1em;">

				<accordion [isAnimated]="true"> <accordion-group
					heading="Novice">
				<p class="card-text mb-auto" style="padding-top: 0.5em;">Je n’ai
					pas de connaissances structurées dans ce domaine</p>
				<p class="card-text mb-auto" style="padding-top: 0.5em;">Une
					supervision directe et dans un cadre structuré m’est encore
					nécessaire pour intervenir dans ce domaine.</p>
				<p class="card-text mb-auto" style="padding-top: 0.5em;">Je n’ai
					pas ou peu d’expériences pratiques dans la mobilisation de cette
					compétence.</p>
				</accordion-group> <accordion-group heading="Débutant">
				<p class="card-text mb-auto" style="padding-top: 0.5em;">J’ai
					acquis de premières connaissances structurées dans ce domaine.</p>
				<p class="card-text mb-auto" style="padding-top: 0.5em;">J’ai
					développé les aptitudes de bases pour y effectuer des tâches
					simples avec un certain niveau d’autonomie.</p>
				<p class="card-text mb-auto" style="padding-top: 0.5em;">J’ai
					fait au moins une expérience de mobilisation de cette compétence
					dans un projet.</p>
				</accordion-group> <accordion-group heading="Apprenant">
				<p class="card-text mb-auto" style="padding-top: 0.5em;">J’ai
					acquis les connaissances théoriques de base dans ce domaine.</p>
				<p class="card-text mb-auto" style="padding-top: 0.5em;">J’ai
					démontré, en mobilisant cette compétence dans plusieurs projets,
					disposer des aptitudes cognitives et pratiques qui sont nécessaires
					pour effectuer les tâches habituelles et résoudre des problèmes
					courants liés à ce domaine.</p>
				</accordion-group> <accordion-group heading="Pratiquant">
				<p class="card-text mb-auto" style="padding-top: 0.5em;">J’ai
					démontré ma capacité à utiliser les bases théoriques acquise dans
					ce domaine pour analyser une situation et concevoir les pistes
					d’actions correspondantes.</p>
				<p class="card-text mb-auto" style="padding-top: 0.5em;">J’ai
					démontré, en mobilisant cette compétence dans mes divers projets,
					disposer de la gamme d’aptitudes cognitives, pratiques et
					relationnellesqui permettent de résoudre des situations complexes
					liées à ce domaine en sachant sélectionner les méthodes et outils
					adéquats.</p>
				</accordion-group> <accordion-group heading="Pratiquant réflexif">
				<p class="card-text mb-auto" style="padding-top: 0.5em;">J’ai
					démontré ma capacité à combiner diverses bases théoriques pour
					analyser des situations complexes dans leurs différentes dimensions
					et créer de nouvelles réponses qui leur soient adaptées.</p>
				<p class="card-text mb-auto" style="padding-top: 0.5em;">J’ai
					démontré, en mobilisant cette compétence dans tous mes projets, ma
					capacité à faire évoluer, dans ce domaine, mes aptitudes
					cognitives, pratiques et relationnelles afin d’être capable de
					résoudre des situations complexes et de réviser et développer mes
					performances ainsi que celles des autres.</p>
				</accordion-group> <accordion-group heading="Professionnel junior">
				<p class="card-text mb-auto" style="padding-top: 0.5em;">J’ai
					coaché et/ou formé d’autres personne dans ce domaine.</p>
				<p class="card-text mb-auto" style="padding-top: 0.5em;">J’ai
					démontré adapter à chaque fois mes méthodes et outils pour les
					faire correspondre aux spécificités des diverses situations
					rencontrées et en proposant des solutions créatives à des problèmes
					abstraits.</p>
				</accordion-group> </accordion>

			</div>


		</nav>

		<main class="col-md-7 ms-sm-auto col-lg-8 px-md-4">

			<router-outlet></router-outlet>

		</main>
	</div>
</div>
